/* Aquí empieza el footer */



.footerSongs {
    padding:1%;
    width:90% ;
}


.suscribete_text{
    color: $blanco;
    text-align: center;
    background-color: $gz;
}

.f1{
    background: #0091d5;
    color: $negro;
    width: 50%;
    /* border: 1px solid $negro; */
}

.f1 > .Suscribete > .fritzSubcripcion {
    text-decoration:none;
    font-family: 'Economica', sans-serif;
    font-size: 70px;
    text-align: center;
    background-color: $gz;
    color: $blanco;
}

.f2{
    width: 70%;
}

.f3{
    width: 40%;
}

.form-contact-us{
    width: 90%;
    padding: 10px;
}



.form-contact-us .h2{
    height: 40px;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    background:$blanco;
    border: none;
    padding: 10px;
    color: $negro;
    margin: 5px;
    font-size: 10px;

}

.botons{
    width: 100%;
    background:$verde_jade;
    border: none;
    padding: 10px;
    color: $blanco;
    margin: 5px;
    font-size: 20px;
}

.fab{
    font-size: 2rem;
}

.fa-facebook:hover{
    transition: 1.5s;
    font-size: 2.5rem;
}

.fa-instagram-square:hover{
    transition: 1.5s;
    font-size: 2.5rem;
}

.fa-youtube:hover{
    transition: 1.5s;
    font-size: 2.5rem;
}

.fa-tiktok:hover{
    transition: 1.5s;
    font-size: 2rem;
}



.contac{
    transition: 3s;
    font-size: 1.5rem;
    text-align: center;
}

.socialNetworks{
    padding: center;

    /* width: 90%;
    background: black;
    align-items: center;
    justify-content: center; */
}

.redes{
    transition: 3s;
    font-size: 1.5rem;
}


.Suscribete{
    
    width: 100%;
    background: $gz;
    border: none;
    /* padding: 10px; */
    color:$negro;
    /* margin: 5px; */
    font-size: 10px;
}

.all__active--footer{
    width: 90%;
}

.active--footer{
    display: flex;
    margin: 20px 5px;
    /* text-align: center; */

}

.control{
    width: 100%;
    background:	$verde_jade;
    border: none;
    padding: 10px;
    height: 30px;
    color: $negro;
    /* margin: 18px; */
    font-size: 10px;
    padding: 5px;
    /* margin: 5px; */

}
.enviar{
    width: 100%;
    background:$verde_jade;
    border: none;
    padding: 10px;
    color: $blanco;
    /* margin: 2px; */
    font-size: 20px;
    padding: 5px;
}

.barraLegal{
    background-color: #333333;
    color: white;
    padding: 1rem 2.5rem;
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
}
.barraLegal > div{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
} 
/* Aquí termina el footer */

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


.navbar{
    position: none;
}

.dropdown {
    position: none;
}