
/* Colores */
$negro:#000;
$blanco:#fff;
$blanco_humo:#E9ECF4;
$blanco_ligth:lightgrey;
$verde_jade:#8ec6ff;
$plomo_rata:#353835;
$plomo_claro:#5f6460;
$rosado:#ce7dce;
$naranja:#fAA43D;
$azul_oscuro:#001;
$gz:#0091d5;
