.contenedor .widget-1,
.contenedor .widget-2 {
	background: $verde_jade;
	color: $blanco;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #5cb85c;
	background-color: black;
	margin: 0 auto;
}